.drop-down-container{
	/*width: 100%;*/
	padding: 5px;
	margin: 5px;
	/*position: relative;*/
	box-shadow: 0 0 5px #ccc;
}

.drop-down-title{
	cursor: default;
	line-height: 40px;
}

.drop-down-item-box{
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 30px;
	/*height: 30px;*/
	font-size: 14px;
	color: #999;
/*	position: absolute;
	top: 30px;*/
	z-index: 99;
	width: 100%;
	/*box-shadow: 0 0 5px #ccc;*/
}

.drop-down-item{
	cursor: default;
	border-bottom: dashed 1px rgba(250, 160, 0, 1);
}

.drop-down-item:last-child{
	border: none;
}